body{
    text-align: center;
    background-color: rgb(47, 47, 122);
    font-family:sans-serif;
    font-weight: bolder;
    color: white;
}

a:link {
    color: White;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:visited {
   color: darkgray;
   background-color: transparent;
   text-decoration: underline;
}
  
a:hover {
  color: lightgray;
  background-color: transparent;
  text-decoration: underline;
}
  