body{
    text-align: center;
    background-color: rgb(47, 47, 122);
    font-family:sans-serif;
    font-weight: bolder;
    color: white;
}

h1 {
    text-decoration: underline;
}

a:link {
    margin-top: 50px;
    padding: 5px;
    color: White;
    background-color: transparent;
    text-decoration: underline;
    border: 2px solid White;
    border-radius: 5px;
    line-height: 50px;
  }
  
a:visited {
   color: darkgray;
   background-color: transparent;
   text-decoration: underline;
}
  
a:hover {
  color: lightgray;
  background-color: transparent;
  text-decoration: underline;
}

input{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    font: white;
    color: black;
}

input:hover {
    background-color: rgba(255, 255, 255, .9);
}

.nameOut {
    font-size: x-large;
}

  
